/* @import "./base.css"; */

@tailwind base;
@tailwind components;
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
@tailwind utilities;
